{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load jalali_tags %}
{% load humanize %}
{% load hide_django %}

<div class="card mb-3">
  <div class="card-body pt-0">
    <div class="position-absolute top-0 start-0">      
        <h6 class="badge badge-soft-primary py-1 py-xl-0">تاریخ:</h6>    
        <h6 class="badge badge-soft-primary py-1 py-xl-0">{{object_list.date_str}}</h6>    
    </div>  
    <div class="position-absolute top-0 end-0"> 
        <h6 class="badge badge-soft-primary py-1 py-xl-0">نمودار بیشترین مصرف کاربران</h6>
    </div>        
          <div class="card-header">
              <div class="row flex-between-end">
                <form class="row g-1 needs-validation" novalidate="" method="post">
                    {% h_csrf_token %}

                    <div class="col-md-2 col-xxl-0 align-items-center py-2"><select name="org_name" class="form-select form-select-sm" aria-label="Bulk actions" data-list-filter-org="data-list-filter-org">
                      <option selected="" value="0">سازمان</option>
                        {% for organization in object_list.organizations %}
                        <option value="{{organization.id}}">{{organization.name}}</option>
                        {% endfor %} 
                    </select></div>
                     <div class="col-md-2 align-items-center  py-2">      
                      <label class="form-label float-end">محدوده تاریخ ورود:</label>
                    </div>
                    <div class="col-md-5 align-items-center  py-2">      
                        <input class="form-control form-control-sm datetimepicker" id="timepicker2" name="start_date" type="text" placeholder="y/m/d تا y/m/d" data-options='{"mode":"range","dateFormat":"Y/m/d","disableMobile":true,"locale":"fa"}' />
                      </div>
                      <div class="col-md-1 align-items-center pe-3 py-2">      
                          <button class="btn btn-primary btn-sm"  type="submit" name="submit" >جستجو</button>    
                      </div>

                  </form>     
                  <div class="col-md-2 col-xxl-0 align-items-center py-2  d-none"><select class="form-select form-select-sm" aria-label="Bulk actions" data-list-filter-isactive="data-list-filter-isactive">
                    <option selected="" value="">وضعیت</option>
                    <option value="فعال">فعال</option>
                    <option value="مسدود">مسدود</option>
                </select></div>              
                  <div class="col-md-2 col-xxl-0 align-items-center py-2  d-none"><input class="form-control form-control-sm" type="text"  data-list-filter-username="data-list-filter-username" placeholder="نام کاربری"></div>
                  <div class="col-md-2 col-xxl-0 align-items-center py-2  d-none"><input class="form-control form-control-sm" type="text"  data-list-filter-lastname="data-list-filter-lastname" placeholder="نام خانوادگی"></div>
                  <div class="col-md-2 col-xxl-0 align-items-center py-2  d-none"><input class="form-control form-control-sm" type="text"  data-list-filter-mobilenu="data-list-filter-mobilenu" placeholder="آدرس IP"></div>

                  <div class="col-auto ms-auto">
                      <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist"></div>
                  </div>
              </div>
          </div>
          <div class="card-body bg-light">
              <div class="tab-content">
                  <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-d3ec69a8-bb27-4342-9ad9-2891fba49350" id="dom-d3ec69a8-bb27-4342-9ad9-2891fba49350">
                      <div class="echart-bar-stacked-chart-example" style="min-height: 350px;" data-echart-responsive="true"></div>
                  </div>
              </div>
          </div>
          <div id="tableExample3" data-list='{"valueNames":["mobile_nu","username","last_name","organization","download","upload","login","logout"],"page":20,"pagination":true,"filter":true}'>
             <div class="row justify-content-end g-0">
              <div class="table-responsive scrollbar">
                <table
                  class="table table-sm table-striped fs--1 mb-0 overflow-hidden"
                >
                  <thead class="bg-200 text-900">
                    <tr>
                      <th class="sort pe-1 align-middle white-space-nowrap" data-sort="mobile_nu">آدرس IP</th>
                      <th class="sort pe-1 align-middle white-space-nowrap" data-sort="username">نام کاربری</th>
                      <th class="sort pe-1 align-middle white-space-nowrap" data-sort="last_name">نام</th>
                      <th class="sort pe-1 align-middle white-space-nowrap" data-sort="organization">سازمان</th>
                      <th class="sort pe-1 align-middle white-space-nowrap" data-sort="download">مقدار دانلود</th>
                      <th class="sort pe-1 align-middle white-space-nowrap" data-sort="upload">مقدار آپلود</th>
                    </tr>
                  </thead>
                  <tbody class="list" id="table-purchase-body">
                    {% for acc in object_list.accounting %}
                    <tr class="btn-reveal-trigger">
                      <th class="align-middle white-space-nowrap mobile_nu">
                        {{acc.user_ip_address}}
                      </th>
                      <th class="align-middle white-space-nowrap username">
                        {{acc.user__username}}
                      </th>
                      <th class="align-middle white-space-nowrap last_name">
                        {{acc.user__last_name}} {{acc.user__first_name}}
                      </th>
                      <th class="align-middle white-space-nowrap organization">
                        {{acc.user__organization__name}}
                      </th>
                      <th class="align-middle white-space-nowrap download">
                        {{acc.download|filesizeformat}}
                      </th>
                      <td class="align-middle white-space-nowrap upload">
                        {{acc.upload|filesizeformat}}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="d-flex justify-content-center mt-3">
                <button
                  class="btn btn-sm btn-falcon-default me-1"
                  type="button"
                  title="Previous"
                  data-list-pagination="prev"
                >
                  <span class="fas fa-chevron-left"></span>
                </button>
                <ul class="pagination mb-0"></ul>
                <button
                  class="btn btn-sm btn-falcon-default ms-1"
                  type="button"
                  title="Next"
                  data-list-pagination="next"
                >
                  <span class="fas fa-chevron-right"> </span>
                </button>
              </div>
            </div>
          </div>          
  </div>
    {% if messages %} 
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success border-2 d-flex align-items-center" role="alert">
    <div class="bg-success me-3 icon-item"><span class="fas fa-check-circle text-white fs-3"></span></div>
        <p class="mb-0 flex-1">{{ message|safe }}</p>
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %} 
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger border-2 d-flex align-items-center" role="alert">
    <div class="bg-danger me-3 icon-item"><span class="fas fa-times-circle text-white fs-3"></span></div>
    <p class="mb-0 flex-1">{{ message|safe }}</p>
    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %} 
    {{ object_list.xAxisData|json_script:"xAxisData_data" }}
    {{ object_list.download_data|json_script:"download_data_data" }}
    {{ object_list.upload_data|json_script:"upload_data_data" }}

</div>


<script>
    var echartsBarStackedChartInit = function echartsBarStackedChartInit() {
      var $barStackedChartEl = document.querySelector('.echart-bar-stacked-chart-example');
    
      if ($barStackedChartEl) {
        var userOptions = utils.getData($barStackedChartEl, 'options');
        var chart = window.echarts.init($barStackedChartEl);
        //var xAxisData = ["A","B","C","D","مهر","آبان","آذر","1","2","3"];
        //var _data=[4,55,66,74,32,12,63,89,22,8]
        //var _data2=[5,6,33,22,33,55,77,86,43,23] 
        var xAxisData=JSON.parse(document.getElementById('xAxisData_data').textContent);
        var _data=JSON.parse(document.getElementById('download_data_data').textContent);
        var _data2=JSON.parse(document.getElementById('upload_data_data').textContent);
  
        var emphasisStyle = {
          itemStyle: {
            shadowBlur: 10,
            shadowColor: utils.rgbaColor(utils.getColor('dark'), 0.3)
          }
        };
    
        var getDefaultOptions = function getDefaultOptions() {
          return {
            color: [utils.getColor('primary'), utils.getColor('success')],
            legend: {
              data: ['دانلود', 'آپلود'],
              textStyle: {
                fontFamily:'body-font',
                color: utils.getGrays()['700']
              },
              right: 0,
    
            },
            toolbox: {
              left: 0,
              feature: {
    
    
                magicType: {
                  type: ['stack', 'tiled'],
                  title: {stack:'استک',tiled :'تایل'}
    
                },
    
              },
              iconStyle: {
                borderColor: utils.getGrays()['700'],
                borderWidth: 1
              },
    
            },
            tooltip: {
              trigger: 'item',
              padding: [7, 10],
              backgroundColor: utils.getGrays()['100'],
              borderColor: utils.getGrays()['300'],
              borderWidth: 1,
              transitionDuration: 0,
              textStyle:{
                fontFamily:'body-font',
              },
              axisPointer: {
                type: 'none'
              },
    
            },
            xAxis: {
              data: xAxisData,
              splitLine: {
                show: false
              },
              splitArea: {
                show: false
              },
              axisLabel: {
                fontFamily:'body-font',
                color: utils.getGrays()['600']
              },
              axisLine: {
                lineStyle: {
                  color: utils.getGrays()['400']
                }
              }
            },
            yAxis: {
              splitLine: {
                lineStyle: {
                  color: utils.getGrays()['200']
                }
              },
              axisLabel: {
                fontFamily:'body-font',
                color: utils.getGrays()['600']
              }
            },
            series: [{
              name: 'دانلود',
              type: 'bar',
              stack: 'one',
              emphasis: emphasisStyle,
              data: _data
            }, {
              name: 'آپلود',
              type: 'bar',
              stack: 'one',
              emphasis: emphasisStyle,
              data: _data2
            }
            ],
            grid: {
              top: '14%',
              bottom: 10,
              left: 5,
              right: 7,
              containLabel: true
            }
          };
        };
    
        echartSetOption(chart, userOptions, getDefaultOptions);
      }
    };
  </script>







  {% endblock %}
