{% extends 'base.html' %}
{% load static %}
{% load hide_django %}
{% block content %}
<form class="row g-3 needs-validation" novalidate="" method="post">
    {% h_csrf_token %}
    <div class="row g-3 needs-validation">
        <div class="col-md-6"><label class="form-label" for="validationCustom03">{{form.name.label}}</label>
         {{form.name}}
        </div>
        <div class="col-md-6"><label class="form-label" for="validationCustom02">{{form.profile.label}}</label>
            {{form.profile}}
        </div>
        <div class="col-6"><button class="btn btn-primary" type="submit">ذخیره</button></div>
        <div class="alert alert-primary" role="alert">
            <h5>پروفایل سازمان به صورت پیش فرض به کل کاربران سازمان اعمال می شود مگر اینکه برای کاربر پروفایل خاص تخصیص داده شود.</h5>
        </div>
    </div>

  </form>
  {% if messages %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <div class="alert alert-success border-2 d-flex align-items-center" role="alert">
    <div class="bg-success me-3 icon-item"><span class="fas fa-check-circle text-white fs-3"></span></div>
    <p class="mb-0 flex-1">{{ message|safe }}</p><button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <div class="alert alert-danger border-2 d-flex align-items-center" role="alert">
    <div class="bg-danger me-3 icon-item"><span class="fas fa-times-circle text-white fs-3"></span></div>
    <p class="mb-0 flex-1">{{ message|safe }}</p><button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% if form.errors %}
  <div class="alert alert-error">
      <ul>
          {% for field in form %}
          {% if field.errors %}
          {% for error in field.errors %}
          <div class="alert alert-danger" role="alert">Field:{{field.name}} {{ error|escape }}</div>
          {% endfor %}
          {% endif %}
          {% endfor %}
      </ul>
      {% if form.non_field_errors %}
      {{ form.non_field_errors }}
      {% endif %}
  </div>
  {% endif %}

{% endblock %}
